/* 
    My Added Style Sheet 
    Date Created: 9/6/2018
    Created By: Eduardo Estrada
    Design By: Victoria Roberts
*/

@import url( //fonts.googleapis.com/css?family=Roboto:400,500,700 );

body{
/* everything in the body will have this font */
    font-family:"Roboto", sans-serif;
}
div.topHeader {
/* Just for the Top Header Section */ 
    color: #080808;
}
img.logo{
    max-width: 65px;
    height: auto;
}
article {
    padding: 1em;
}
article.firstArticle {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color:  rgba(21, 41, 41, 0.45);
    margin-top: 0.5em;  
    margin-bottom:1em;
   /* box-shadow: 5px 10px 8px #888888;*/    
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(255, 193, 7);
    color: rgb(255, 193, 7);
}
article.firstArticle > a > img {
    width: 100%;
    height: auto;
}
article.firstArticle > h3 {
    font-weight: bold;    
}
article.firstArticle > p {
    font-size: 100%;
}
article.firstArticle > p > a {
    font-weight: bold;
    text-decoration:none;
    color: rgb(255, 193, 7);
}
article.secondArticle {
    position: relative;
    display:inline-block;
    width: 100%;
    height: 280px;
    background-color:   rgba(21, 41, 41, 0.45);
    margin-top:0.5em; 
    /*box-shadow: 5px 10px 8px #888888;*/
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(255, 193, 7);
    color: rgb(255, 193, 7);
}
article.secondArticle > a > img {
    width: 100%;
    max-width: 300px;
    height: auto;
    float:right;
}
article.secondArticle > h3 {
    font-weight: bold;
    font-size: x-large;
}
article.secondArticle > p {
    font-size: 100%;   
}
article.secondArticle > p > a {
    font-weight: bold;
    text-decoration:none;
    color: rgb(255, 193, 7);
}
article.thirdArticle {
    position: relative;
    display:block;
    width: auto;
    height: 280px;
    background-color:  rgba(21, 41, 41, 0.45);
    margin-top:0.8em; 
    /*box-shadow: 5px 10px 8px #888888;*/
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(255, 193, 7);
    color: rgb(255, 193, 7);
}
article.thirdArticle > a > img {
    width: 100%;
    max-width: 300px;
    height: auto;
    float:left;
    padding-right:.5em;
}
article.thirdArticle > h3 {
    font-weight: bold;
    font-size: x-large;     
}
article.thirdArticle > p {
    font-size: 100%;
}
article.thirdArticle > p > a {
    font-weight: bold;
    text-decoration:none;
    color: rgb(255, 193, 7);
}
div.billboard {
    position: relative;
    font-size:x-large;
    width: auto;
    height: auto;
    color: rgb(255, 193, 7);
    background-color: rgba(21, 41, 41, 0.45);
    padding-top:1em;
    padding-left:0.8em;
    padding-right:0.8em;
    padding-bottom:1em;
    text-align:center;

    margin-bottom:1em;
    border-radius: 5px;
  
    border-style: solid;
    border-color: rgb(255, 193, 7);
}
div.billboard:hover {
     box-shadow: 5px 5px 8px #ffdb66, 5px 10px 8px #888888;
     background-color: rgba(21, 41, 41,.95);
}
div.billboard > h1{
    font-weight:bolder;
    padding-bottom:0;
    font-size:inherit;
}
div.billboard > p > a {
    color: rgb(255, 193, 7);
    text-decoration: none;
}
div.billboard > p > a:hover {
    text-decoration: none;
    color: white;
}
div.socialLinks {
    position: relative;
    font-size:larger;
    width: 100%;
    height: auto;
    color: rgb(255, 193, 7);
    background-color: rgba(21, 41, 41, 0.45);
    padding-top:1em;
    padding-bottom:1em;
    padding-left:0.8em;
    padding-right:0.8em;
    text-align:center;
    margin-top:0.5em;
    margin-bottom:0.5em;
    border-radius: 5px;
    /*box-shadow: 5px 10px 8px #888888;*/
    border-style: solid;
    border-color: rgb(255, 193, 7);
}
div.socialLinks > a  {
   text-decoration: none;
   color: rgb(255, 193, 7);
}
div.socialLinks > a:hover {
    text-decoration: none;
    color: white;
}
/* change colors for each icon */
 #tweet  {
    text-decoration: none;
    color: #1dcaff;
}
 #tube  {
    text-decoration: none;
    color: #ff0000;   
}
 #linkedIn  {
    text-decoration: none;
   color: #4875B4;
}
 #flicker  {
    text-decoration: none;
    color: #FE0884;
}
div.fbFeed {
    position: relative;
    font-size:larger;
    width: 100%;
    height: auto;
    color: rgb(255, 193, 7);
    background-color: rgba(21, 41, 41, 0.45);
    padding-top:1em;
    padding-bottom:1em;
    padding-left:0.8em;
    padding-right:0.8em;
    text-align:center;
    margin-top:0.5em;
    margin-bottom:0.5em;
    border-radius: 5px;
    /*box-shadow: 5px 10px 8px #888888;*/
    border-style: solid;
    border-color: rgb(255, 193, 7);
}
/* padding for ALLL FA icons */
.icon-pad{
    padding: 0px 10px;
}
.nav-icon-pad{
    padding-right:10px;
}
.carousel-inner > .item > img {
  width:100%;
  height: auto;
}
/* @Override Bootstrap bg-dark */
.mod-bg-dark {
    background-color: #000000!important;
}
.vlad-triple-x {
    background-color: rgba(0,0,0,0.4)!important;
    color:#ffffff!important;
    border-color: #ffffff;
    border-style: solid;
    border-color: rgb(255, 193, 7);
}
/* @Override Bootstrap bg-dark and footer-dark*/
.trans-override {
    background-color: rgba(0,0,0,0.4)!important;
    color:#ffffff!important;
    border-color: #ffffff;

}
.simpleslide100 {
  display: block;
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.simpleslide100-item {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.bg-img1 {
  /* background image sizing */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay1 {
  /* darkish ghoolish panel */
  position: relative;
  z-index: 1;
}
.overlay1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
.size1 {
    /* cover ALLL the content*/
  width: 100%;
  min-height: 100vh;
}
/* @Override bootstrap .nav-bar Title in the Nav-bar */
.biggerFont{
    font-size: 2rem !important;
}
/* increase the font size in the footer UL*/
#increaseFontSize{
    font-size: larger;
}